nav {
  ul {
    list-style-type: none;
    padding: 0;

    ul {
      display: none;
      position: absolute;
    }

    li {
      position: relative;
      display: inline-block;
      margin-right: 20px;

      &:hover > ul {
        display: block;
      }

      a, span {
        text-decoration: none;
        padding: 10px;
        display: block;
      }

      ul {
        li {
          display: block;
          margin: 0;
        }
      }
    }
  }
}