
<div class="figure flex-container">
  {% for image in include.images %}
  <figure3 class="figure figure--auto-width">
      <img class="image" src="{{ image.src }}" alt="{{ image.alt | default: image.caption }}" style="width: auto;">
      {% if image.caption %}<figcaption class="caption">{{ image.caption }}</figcaption>{% endif %}
  </figure3>
  {% endfor %}
</div>

<!-- 全屏显示的容器 -->
{% for image in include.images %}
<div id="fullscreen-container-{{ forloop.index }}" class="fullscreen-container">
  <img id="fullscreen-image-{{ forloop.index }}" src="{{ image.src }}" alt="{{ image.alt | default: image.caption }}" />
</div>
{% endfor %}
