<style>
  figure {
    max-width: 50%;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  .image {
    max-width: 90%;
    height: auto;
    border-radius: 8px;
    margin: 8px;
  }
  .flex-container1 {
  display: flex;
  margin: 10px;
  flex-wrap: wrap;
  justify-content: space-between; 
  }
</style>

<div class="flex-container1">
  <figure class="figure  figure--{{ include.position | default: 'center' }}">
    <img class="image" src="{{ include.image }}" alt="{{ include.alt | default: include.caption }}" {{ include.width ? include.width | prepend: 'width="' | append: '"' }} {{ include.height ? include.height | prepend: 'height="' | append: '"' }}>
    {% if include.caption %}<figcaption class="caption">{{ include.caption }}</figcaption>{% endif %}
  </figure>
</div>
