<style>
  figure, figure2, figure3 {
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  figure {
    max-width: 60%;
  }
  figure2 {
    max-width: 45%;
  }
  figure3 {
    max-width: 30%;
  }
  .image {
    min-width: 75%;
    max-width: 90%;
    height: auto;
    border-radius: 8px;
    margin: 8px;
  }
  .image:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }
  .flex-container, .flex-container-single{
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
    align-items: center;
  }
  .flex-container {
    justify-content: space-between; 
  }
  .flex-container-single {
    justify-content: center;
  }
</style>
