<style>
  /* 去除页面默认样式 */
  main.main {
    max-width: 100% !important;
    width: 100% !important;
    display: block !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  main.main article.article {
    width: 100% !important;
  }

  body.layout-page {
    background-color: transparent !important;
    display: block !important;
    width: 100% !important;
  }

  header.header .feature {
    /* 去除标题图片下边距 */
    margin-bottom: 0 !important;
  }

  /* 不显示目录 */
  aside.aside {
    display: none;
  }

  /* 背景色 */
  .wrapper {
    background-image: linear-gradient(to top, #cd9cf2 0%, #f6f3ff 100%);
  }

  /* 展示图片和文字 */
  .wrapper {
    padding-top: 3rem;
    width: 100%;
  }

  .box {
    width: 100%;
    margin: 0;
    margin-bottom: 5rem;
    display: flex;
    /* flex-wrap: wrap; */
    /* 动画结束的CSS↓ */
    /*justify-content: center;*/
    /* 动画开始的CSS↓ */
    justify-content: space-between;
  }

  .box:last-child {
    margin-bottom: 0;
  }

  .box .img,
  .box .text {
    opacity: 0;
    margin: 0;
    width: 30rem;
    height: 30rem;
    /*padding: 2rem 0;*/
  }

  .box .img img {
    background-color: pink;
    width: 100%;
    height: 100%;
  }

  .box .text {
    display: flex;
    align-items: center;
  }

  .box .text:nth-child(2n) {
    padding-left: 2rem;
  }

  .box .text:nth-child(2n+1) {
    padding-right: 2rem;
  }

  .box .img:nth-child(2n) {
    padding-left: 2rem;
  }

  .box .img:nth-child(2n+1) {
    padding-right: 2rem;
  }

  .box .text p {
    padding: 0 !important;
    margin: 0 !important;
  }
</style>
<div class="wrapper">
  <div class="box">
    <div class="text">
      <p>From 1950 to 2015, approximately 83 billion tons of plastic were produced worldwide, among which 79% of the
        discarded plastic accumulated in landfills or leaked into the environment. Over time, these large plastic
        materials break down into microplastics—tiny particles ranging from 100 nm to 5 mm in diameter—that have now
        infiltrated nearly every aspect of our daily lives.</p>
    </div>
    <div class="img"><img src="https://static.igem.wiki/teams/5175/resources/background/bg-01.png" alt=""></div>
  </div>
  <div class="box">
    <div class="img"><img src="https://static.igem.wiki/teams/5175/resources/background/bg-02.png" alt=""></div>
    <div class="text">
      <p>Once microplastics enter the human body through the food chain, they can penetrate critical biological barriers
        such as cell membranes, the blood-brain barrier, and the placenta. The consequences are severe—DNA damage,
        tissue necrosis, and potentially an increased risk of malignant tumors. These invisible threats lurk in the
        crops we consume daily, entering our bodies with every bite. And the source of these microplastics? The
        contaminated soils of the farmland where these crops are grown.</p>
    </div>
  </div>
  <div class="box">
    <div class="text">
      <p>Organic fertilizers, plastic mulches, and irrigation water are the inevitable and primary culprits behind the
        presence of microplastics in agricultural soils. Irrigation water, in particular, is often sourced from rivers,
        lakes, and other surface water bodies, where the presence of microplastics is already widespread. The continued
        use of microplastic-contaminated irrigation water only worsens the problem, increasing microplastic accumulation
        in farmland, which in turn threatens crop yields and poses serious health risks to humans</p>
    </div>
    <div class="img"><img src="https://static.igem.wiki/teams/5175/resources/background/bg-03.png" alt=""></div>
  </div>
  <div class="box">
    <div class="img"><img src="https://static.igem.wiki/teams/5175/resources/background/bg-04.png" alt=""></div>
    <div class="text">
      <p>In the face of this growing crisis, our team has focused on one of the most common plastics—polyethylene
        terephthalate (PET)—and designed an innovative solution that not only degrades PET microplastics but also
        improves soil health.</p>
    </div>
  </div>
  <div class="box">
    <div class="text">
      <p>E.coli BL21 is capable of efficiently expressing proteins. We have genetically engineered it to express high
        levels of PET-degrading dual-enzymes system for degrading PET and to break down ethylene glycol(EG), a byproduct
        of PET degradation. This process helps reduce the amount of microplastics in irrigation water, ultimately
        decreasing soil contamination and mitigating the potential health risks to humans.</p>
    </div>
    <div class="img"><img src="https://static.igem.wiki/teams/5175/resources/background/bg-safety.jpg" alt=""></div>
  </div>
  <div class="box">
    <div class="img"><img src="https://static.igem.wiki/teams/5175/resources/background/bg-model.jpg" alt=""></div>
    <div class="text">
      <p>Pseudomonas putida KT2440 possesses a unique set of pathways for phenol and lipid metabolism. It has been
        further modified by us to absorb and metabolize TPA, another byproduct of PET degradation, producing
        rhamnolipids in the process. These biosurfactants not only help further eliminate microplastics from the soil
        but also enhance the soil’s physical structure and chemical properties.</p>
    </div>
  </div>
  <div class="box">
    <div class="text">
      <p>By harnessing the synergistic power of these two strains, we aim to significantly reduce PET microplastic
        accumulation in soils, restore soil health, and effectively tackle the growing threat of soil microplastic
        pollution—a danger that looms large over our environment and human well-being.</p>
    </div>
    <div class="img"><img src="https://static.igem.wiki/teams/5175/resources/background/bg-hardware.jpg" alt=""></div>
  </div>
</div>
<script>
  const imgs = $(".box .text, .box .img");
  const boxs = $(".box");
  const imgs_position_start = new Array(imgs.length);
  const imgs_position = new Array(imgs.length);
  function get_img_position() { //得到各元素移动前后的位置
    imgs.css("opacity", 0);
    imgs.each((index, img) => {
      img.removeAttribute("style");
    });
    boxs.css("justify-content", "space-around"); //要显示的CSS
    imgs.each((index, img) => {
      imgs_position[index] = img.getBoundingClientRect().left;
    });
    boxs.css("justify-content", "space-between"); //默认状态下（未显示时）的CSS
    imgs.each((index, img) => {
      imgs_position_start[index] = img.getBoundingClientRect().left;
    });
    imgs.css("opacity", 1);
  }
  function get_opacity(pos_percent) { //计算透明度
    const res = pos_percent;
    return res;
  }
  function get_xpos(pos_percent, index) { //计算左/右边距
    const start = imgs_position_start[index];
    const end = imgs_position[index];
    let res;
    if (index % 2 == 0) { //在左面
      res = pos_percent * (end - start);
    } else { //在右面
      res = pos_percent * (start - end);
    }
    return res;
  }
  function img_animate(index, pos_percent) { //改变左/右边距和透明度
    const dom = imgs.eq(index);
    const xpos = get_xpos(pos_percent, index);
    const opacity = get_opacity(pos_percent);
    if (index % 2 == 0) { //在左面
      dom.animate({
        marginLeft: xpos,
        opacity: opacity
      }, 0);
    } else { //在右面
      dom.animate({
        marginRight: xpos,
        opacity: opacity
      }, 0);
    }
  }
  function find_img_toshow(scroll_distance_bottom, scroll_distance_top) { //遍历所有元素，计算现位置
    imgs.each((index, img) => {
      const img_height = img.clientHeight;
      const img_distance = {
        "top": img.offsetTop,
        "bottom": img.offsetTop + img_height
      };
      //5种情况
      if (img_distance.bottom < scroll_distance_top || img_distance.top > scroll_distance_bottom) {
        //在屏幕上方/下方，不作处理
        img.removeAttribute("style");
      }
      else if (img_distance.top > scroll_distance_top && img_distance.bottom < scroll_distance_bottom) {
        //在视口中，全部展示
        img_animate(index, 1);
      }
      else {
        //即将进入/离开视口
        const height = img_distance.bottom > scroll_distance_bottom ? scroll_distance_bottom - img_distance.top : img_distance.bottom - scroll_distance_top;
        //在视口中的高度
        img_animate(index, height / img_height);
      }
    });
  }
  function scroll_func() {
    const clientHeight = document.documentElement.clientHeight;
    const scrollTop = document.documentElement.scrollTop;
    const scroll_distance = clientHeight + scrollTop;
    find_img_toshow(scroll_distance, scrollTop);
  }
  $(window).resize(() => {
    get_img_position();
    scroll_func();
  });
  get_img_position();
  $(window).on("scroll", () => scroll_func());
  $(window).scrollTop(1);
  $(window).scrollTop(0); //解决：刷新页面第一张位置不变
  scroll_func();
</script>