<!-- _includes/members-people.html -->
<div class="section {% if include.image_position == 'right' %}reverse{% endif %}" id="members">
  {% if include.image_position == 'left' %}
      <img src="{{ include.image }}" alt="{{ include.name }}" id="members">
  {% endif %}
  <div class="info">
      <div class="name">{{ include.name }}</div>
      <div class="description">{{ include.description }}</div>
  </div>
  {% if include.image_position == 'right' %}
      <img src="{{ include.image }}" alt="{{ include.name }}" id="members">
  {% endif %}
</div>