<nav class="nav">
  <ul class="list list--nav">
    {% for item in site.navigation_header %}
      {% unless item.title == false or item.url contains "/page" or item.url contains "/404.html" %}
        <li class="item  item--nav{% if item.url == page.url %}  item--current{% endif %}">

          {% if item.url %}
            {% if item.url contains '://' %}
              {% assign url = item.url %}
            {% else %}
              {% assign url = item.url | relative_url %}
            {% endif %}
          {% endif %}

          {% if item.collectionpage %}
            {% assign collectiondata = site.collections | where: "label", item.collectionpage | first %}
            <a href="{{ url }}">{{ collectiondata.title }}</a>
          {% else %}
            {% if item.url %}
              <a href="{{ url }}">{{ item.title }}</a>
            {% else %}
              <span>{{ item.title }}</span>
            {% endif %}
          {% endif %}

          {% if item.sub_navigation %}
            <ul class="list list--sub-nav">
              {% for sub_item in item.sub_navigation %}
                {% if sub_item.url contains '://' %}
                  {% assign sub_url = sub_item.url %}
                {% else %}
                  {% assign sub_url = sub_item.url | relative_url %}
                {% endif %}
                <li class="item item--sub-nav">
                  <a href="{{ sub_url }}">{{ sub_item.title }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endunless %}
    {% endfor %}
  </ul>
</nav>

<style>
  /* 仅针对此导航栏的样式 */
  main.container ul.list--nav {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr; /* 定义两列布局 */
      gap: 10px; /* 设置每个块之间的空隙 */
      background-color: #f9f9f9;
      padding: 20px;
      border-radius: 10px;
  }
  
  main.container ul.list--nav li {
      border-radius: 10px; /* 设置每个子块的圆角 */
      background-clip: padding-box; /* 设置背景颜色不会延伸到边框 */
  }

  main.container ul.list--nav {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  main.container li.item--nav {
    margin: auto;
  }
</style>