{% if site.navigation_header %}
<nav class="nav  nav--header">
  <ul class="list  list--nav">
    {% for item in site.navigation_header %}

    {% if item.url contains '://' %}
    {% assign url = item.url %}
    {% else %}
    {% assign url = item.url | relative_url %}
    {% endif %}

    <li class="item  item--nav{% if item.url == page.url %}  item--current{% endif %}">
      {% if item.sub_navigation %}
      <a href="javascript:;" class="no-hover">{{ item.title }} <span
          class="icon iconfont icon-down-line-free"></span></a>
      {% else %}
      <a href="{{ url }}">{{ item.title }}</a>
      {% endif %}
      {% if item.sub_navigation %}
      <ul class="sub_nav" style="display: none; position: absolute;">
        {% for sub_nav in item.sub_navigation %}
        <li class="sub_nav item--nav">
          <!-- I wonder the base url should be included. -->
          <a href="{{ sub_nav.url }}" class="sub_nav">{{ sub_nav.title }}</a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  <button class="button  button--nav" aria-label="Menu toggle">
    {% include icon.html id="nav" title="Menu" %}
  </button>
</nav>
{% else %}
{% include nav-default.html %}
{% endif %}

<style>
  nav.nav--header a.no-hover {
    position: relative;
    z-index: 1000;
  }

  nav.nav ul.list--nav li.item--nav {
    cursor: pointer;
  }

  nav.nav ul.list--nav li.item--nav span.icon-down-line-free {
    margin-left: -0.2rem;
    display: inline-block;
    vertical-align: middle;
    /* 箭头默认向右 */
    transform: rotate(-90deg);
    /* 旋转原点 */
    transform-origin: center center;
    /* 旋转时间 */
    transition: transform 0.5s;
  }

  ul.sub_nav {
    background-color: #F9F9F9;
    flex-direction: column;
    z-index: 999;
    margin-top: 0.6rem;
    border-radius: 0.2rem;
  }

  ul.sub_nav li.sub_nav {
    /* 清除li左边默认的点 */
    list-style-type: none;
    /* 靠左对齐 */
    text-align: left !important;
    padding-top: 0.2rem;
    margin: 0;
  }

  ul.sub_nav li.sub_nav a.sub_nav {
    /* 强制不换行 */
    white-space: nowrap;
    font-size: 1rem;
    line-height: 1rem;
    padding: 0 0.2rem;
    margin: 0;
  }

  nav.nav a.current {
    color: #a8adac;
  }

  nav.nav a.current:hover {
    color: green;
  }
</style>
<script type="text/javascript">
  // Get list and button
  const navList = document.querySelector('.header .list--nav')
  const button = document.querySelector('.header .button--nav')

  // Hide nav and apply toggle
  const collapseNav = () => {
    if (document.body.clientWidth < 640) {
      navList.style.setProperty('--listHeight', `-${navList.offsetHeight}px`)
    } else {
      navList.removeAttribute('style')
    }

    button.onclick = () => {
      navList.style.setProperty('transition', `margin .1s`)
      if (navList.style.getPropertyValue('--listHeight')) {
        navList.style.removeProperty('--listHeight')
      } else {
        navList.style.setProperty('--listHeight', `-${navList.offsetHeight}px`)
      }
    }
  }

  collapseNav()

  // Check on resize if to collapse nav
  window.addEventListener('resize', () => {
    collapseNav()
  })
</script>