<script>
  document.addEventListener("DOMContentLoaded", function() {
    const section = document.querySelector("#about-this-page");

    // Check if the section already contains a nav element
    if (section.querySelector("nav")) {
        return; // If a nav element already exists, do not create a new one
    }
    
    const headers = document.querySelectorAll("article h2, article h3, article h4, article h5, article h6");
    const nav = document.createElement("nav");
    section.appendChild(nav);

    headers.forEach((header, index) => {
        if (!header.id) {
            header.id = "header-" + index;
        }
        const link = document.createElement("a");
        link.href = "#" + header.id;
        link.textContent = header.textContent;
        link.classList.add(header.tagName.toLowerCase());
        nav.appendChild(link);
    });
  });
</script>

<style>
    html {
        scroll-behavior: smooth;
    }

    .section.page--description nav {
        background: #f9f9f9;
        padding: 10px;
        margin-top: 10px;
        border: 1px solid #ccc;
        border-radius: 5px; 
    }
    .section.page--description nav a {
        display: block;
        margin-bottom: 5px;
    }
    .section.page--description nav a.h2 {
        padding-left: 0;
    }
    .section.page--description nav a.h3 {
        padding-left: 10px;
    }
    .section.page--description nav a.h4 {
        padding-left: 20px;
    }
    .section.page--description nav a.h5 {
        padding-left: 30px;
    }
    .section.page--description nav a.h6 {
        padding-left: 40px;
    }
</style>
