<footer class="footer">
  <div class="container">
    <div class="copyright  typeset">
      <small class="small">&copy; {{ site.title }}</small>
    </div>
    {% include nav-footer.html %}
  </div>
  
  <div class="container">
      <div class="footer_pic">
        <img src="https://static.igem.wiki/teams/4595/wiki/home/qiming.png" alt="Qiming">
        <img src="https://static.igem.wiki/teams/4595/wiki/home/school.png" alt="HUST">
        <img src="https://static.igem.wiki/teams/4595/wiki/home/college.png" alt="LifeST">
      </div>
  </div>

  <div class="container">
    <div class="footer_text">
      <h5>Contact us</h5>
      <p>Address</p>
      <small>1037 Luoyu Road, Hongshan District, Wuhan, Hubei Province, P.R. China 430074</small>
      <p>E-mail</p>
      <small>igemhustchina@163.com</small>
    </div>
  </div>
</footer>

<style>
  footer{
    background-color: #aadec3 !important;
    padding: 20px 0;
  }
  footer div.container div.footer_pic {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 40%;
    max-width: 600px;
    margin: auto;
  }
  footer div.container div.footer_pic img {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  footer div.container div.footer_text {
    text-align: center;
    margin: 20px;
    width: 60%;
  }

  footer div.container div.footer_text h5,
  footer div.container div.footer_text p {
    font-weight: bold;
  }
</style>
