<!-- Overwrite this file with code you want before the closing head tag -->

<!-- Prohibit copying and selecting -->
<script>
  // Prevent the default copy action
  var element = document.body;
  element.style.userSelect = 'none'; // Standard
  // element.style.webkitUserSelect = 'none'; // Chrome, Safari, Opera
  element.style.MozUserSelect = 'none'; // Firefox
  element.style.msUserSelect = 'none'; // IE 10+
  element.style['-ms-user-select'] = 'none'; // IE 10+

  // Add the copy event listener
  document.addEventListener('copy', function(event) {
    var selection = window.getSelection();
    var selectedText = selection.toString();
    var sourceElement = selection.anchorNode.parentNode;
    // Set the forbidden text to the clipboard
    event.clipboardData.setData('text/plain', '');
    // Prevent the default copy action
    event.preventDefault();
    
  });
</script>