<aside class="aside  typeset  aside--{{ include.align | default: 'left' }}">

  {% if page.layout == "post" %}
    <section class="section  section--related-posts">
      {% include post-related.html %}
    </section>

  {% elsif page.layout == "home" %}
    <section class="section  section--category-description">
      <h3>About this site</h3>
      <p>{{ site.description }}</p>
      {% include nav-social.html %}
    </section>
    

  {% elsif page.layout == "page" or page.layout == "blog" %}
      <section id="about-this-page" class="section page--description">
      </section>
      <script>
        document.addEventListener("DOMContentLoaded", function() {
            const headers = document.querySelectorAll("h2, h3, h4, h5, h6, section[id]");
            const nav = document.createElement("nav");
            section.appendChild(nav);
  
            headers.forEach((header, index) => {
                if (!header.id) {
                    header.id = "header-" + index;
                }
                const link = document.createElement("a");
                link.href = "#" + header.id;
                link.textContent = header.textContent;
                nav.appendChild(link);
            });
        });
      </script>
      <style>
          html {
              scroll-behavior: smooth;
          }
          .section.page--description nav {
              background: #f9f9f9;
              padding: 10px;
              border: 1px solid #ccc;
          }
          .section.page--description nav a {
              display: block;
              margin-bottom: 5px;
          }
      </style>


  {% elsif page.layout == "categories" %}
    <section class="section  section--category-index">
      <h3>Index</h3>
      {% include nav-categories.html %}
    </section>

  {% endif %}

</aside>
