<!-- Overwrite this file with code you want before the closing head tag -->
<style>
  body {
    user-select: none !important;
    -webkit-user-select: none !important; /* Safari */
    -moz-user-select: none !important; /* Firefox */
    -ms-user-select: none !important; /* Internet Explorer/Edge */
  }
</style>

{% include image_style.html %}

{% include video_style.html %}

{% include article_pic.html %}

{% include mathjax_support.html %}

{% include lottie_style.html %}

{% include table_style.html %}
