<footer class="footer">
  <div class="container">
    <div class="copyright  typeset">
      <small class="small">&copy; {{ site.title }}</small>
    </div>
    {% include nav-footer.html %}
  </div>
  
  <div class="container">
      <div class="footer_pic">
        <img src="https://static.igem.wiki/teams/4595/wiki/home/qiming.png" alt="Qiming">
        <img src="https://static.igem.wiki/teams/4595/wiki/home/school.png" alt="HUST">
        <img src="https://static.igem.wiki/teams/4595/wiki/home/college.png" alt="LifeST">
      </div>
    </div>
</footer>

<style>
  footer{
    background-color: #61b070 !important;
    padding: 20px 0;
  }
  footer div.container {
    color: #0c0c0c !important;
  }
  footer div.container:hover {
    color: #0000007a !important;
  }
  footer div.container div.footer_pic {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    max-width: 1200px;
    margin: auto;
  }
  footer div.container div.footer_pic img {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
</style>
