{% if site.fonts.font_urls %}
{% for font in site.fonts.font_urls %}
<link rel="preload" as="style" href="{{ font }}" />
<link href="{{ font }}" rel="stylesheet" media="print" onload="this.media='all'" />
{% endfor %}
<noscript>
    {% for font in site.fonts.font_urls %}
    <link href="{{ font }}" rel="stylesheet" />
    {% endfor %}
</noscript>
{% endif %}
<style>
    body *:not(code code-number) {
        font-family: Merriweather, MiSans, sans-serif !important;
    }
    code {
        font-family: 'CascadiaCove Nerd Font', 'Cascadia Code', 'Fira Code', 'Courier New', Courier, monospace !important;
    }
    code-number {
        font-family: 'CascadiaCove Nerd Font', 'Cascadia Code', 'Fira Code', 'Courier New', Courier, monospace !important;
    }
</style>