@font-face {
  font-family: "iconfont"; /* Project id 4627674 */
  src: url('iconfont.woff2?t=1721477071944') format('woff2'),
       url('iconfont.woff?t=1721477071944') format('woff'),
       url('iconfont.ttf?t=1721477071944') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-down-line-free:before {
  content: "\e733";
}

