@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://static.igem.wiki/teams/5175/static/merriweather-regular.woff2) format('woff2');
}
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://static.igem.wiki/teams/5175/static/merriweather-bold.woff2) format('woff2');
}