// Background colours
$backgroundColour: #ffffff !default;
$codeBackgroundColour: #fafafa !default;
$featureBackgroundColour: #f9fafa !default;
$accentColour: #05bf85 !default;

// Text colours
$headingColour: #242e2b !default;
$bodyColour: #384743 !default;
$linkColour: #05bf85 !default;
$hoverColour: #008000 !default;
$focusColour: #fa407a !default;
$captionColour: #a8adac !default;
$white: #ffffff !default;

// Fonts
@font-face {
  font-family: 'Cascadia Code';
  src: url('https://static.igem.wiki/teams/5175/static/cascadiacode.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

// Typography
$bodytype: (
  font-family: "Georgia, serif",
  regular: 400,
  bold: 700,
  italic: italic,
  cap-height: 0.75
) !default;

$headingtype: (
  font-family: '"Merriweather", serif',
  regular: 400,
  bold: 700,
  cap-height: 0.75
) !default;

$monospacetype: (
  font-family: "Cascadia Code, Menlo, monospace",
  regular: 400,
  cap-height: 0.68
) !default;

// TIP: Load custom fonts in _config.yaml
